@use "colors" as c;
@use "./resetScss.scss";

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
		justify-content: center;
		background-image: url("@/assets/images/background.png")   ;
		background-size: 100% ;
	}
}
